<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teaspoon.teamall.domain.product.mapper.ProductMapper">


    <select id="findProductNo" resultType="com.teaspoon.teamall.domain.order.dto.OrderProductResponseDTO">
        SELECT product_name, product_price
        FROM product
        WHERE product_no = #{productNo}
    </select>
</mapper>